<div class="container">
  <h1>Lab 3</h1>

  <h2>Structures</h2>
  <%= image_tag "customer-structure.png" %>
  <%= image_tag "product-structure.png" %>
  <%= image_tag "order-structure.png" %>

  <h2>Contents</h2>
  <%= image_tag "customer-content.png" %>
  <%= image_tag "product-content.png" %>
  <%= image_tag "order-content.png" %>

  <h2>Query</h2>
  <%= image_tag "q1.png" %>
  <%= image_tag "q2.png" %>
  <%= image_tag "q3.png" %>
  <%= image_tag "q4.png" %>
</div>
